.container {
	width: 710px;
	margin:30px auto;
}

.container .slide {
	width:100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.container .slideRight, .slideLeft {
	cursor: pointer;
	position: absolute;
	right:0;
	z-index: 2;
	line-height: 350px;
	padding: 30px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.container .slideLeft {
	left:0;
	right: inherit;
}

.container .slideRight:hover, .slideLeft:hover {
	background: rgba(255,255,255,0.3);
}


.container .slide ul {
	width:100%;
	display: inline-block;
	position: absolute;
	padding: 0;
	list-style: none;
	white-space:nowrap;
	font-size: 0;
}

.container .slide ul li {
	width: 100%;
	display: inline-block;
	list-style: none;
}

.container .slide img {
	width:100%;
}
.container .preview {
	width: 100%; 
	margin-top: 11px;
	overflow: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}

.container .preview ul {
	padding: 0;
	text-align: center;
	list-style: none;
	white-space: nowrap;
	font-size: 0;
}

.container .preview ul li {
	display: inline-block;
	list-style: none;
	width: 184px;
	cursor: pointer;
	margin-right: 10px;
}

.container .preview ul li img {
	height: 100px;
	width: 100%;
	opacity: 0.32;
}

.container .preview ul .active img {
	opacity: 1;
}


@media (max-width: 320px) {
	.container {
		width: 310px;
	}
	.container .slide {
		height: 194px;
	}

	.container .slideRight, .slideLeft {
		padding: 10px;
		line-height: 174px;
	}
	.container .preview {
		margin-top: 20px;
		height: 65px;  
	}
	.container .preview ul li {
		width: 25px;
		height: 25px;
		display: inline-block;
		margin-right: 14px;
		list-style: none;
		border-radius: 25px;
		background: #475b6d;
	}
	.container .preview ul .active {
		background: #859eb5;
	}

	.container .preview ul li img {
		display: none;
	}
}

@media (min-width: 321px) and (max-width: 640px) {
	.container {
		width: 610px;
	}
	.container .slide {
		height: 380px;
	}
	.container .slideRight, .slideLeft {
		padding: 10px;
		line-height: 360px;
	}
	.container .preview ul li {
		width: 160px;
		margin:0 7px 0 -2px;
	}
}


@media (min-width: 1366px) and (max-width: 1919px){
	.container {
		width: 1257px;
	}
	
	.container .slide {
		width:960px;
		float: left;
		height: 600px;
	}

	.container .slideRight, .slideLeft {
		line-height: 540px;
	}

	.container .preview {
		width: 280px;
		height: 545px; 
		float: right; 
		margin-top: 30px;
		overflow: hidden;
		overflow-y: scroll;
	}

	.container .preview ul li {
		width: 248px;
		height: 138px;
		display: block;
		margin: 0 -2px;
	}

	.container .preview ul li img {
		height: 100%;
	}


}

@media (min-width: 1920px) {
	.container {
		width: 1750px;
	}
	
	.container .slide {
		width:1320px;
		height: 880px;
		float: left;
	}

	.container .slideRight, .slideLeft {
		line-height: 820px;
	}

	.container .preview {
		width: 400px;
		height: 800px;
		float: right;
		margin-top: 20px;
		overflow: hidden;
		overflow-y: scroll;
	}

	.container .preview ul li {
		width: 340px;
		height: 200px;
		display: block;
		margin: 0 -2px;
	}

	.container .preview ul li img {
		height: 100%;
	}

}